
@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/pacifico/Pacifico.ttf') format("truetype");
}

@font-face {
  font-family: 'Arimo-Regular';
  src: url('../fonts/arimo/Arimo-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Arimo-Bold';
  src: url('../fonts/arimo/Arimo-Bold.ttf') format("truetype");
}

body, html{
  height: 100%;
  font-family: 'Arimo-Regular' !important;
}

i {
  font-size: 25px;
}
